<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gráficas con chart.js | By Parzibyte</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.2/dist/chart.umd.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/styles.css')}}">
</head>

<body>
    
    <!-- Establece el ancho y alto del canvas sin unidades -->
    <div class="caja">
        <canvas id="grafica" width="700" height="600"></canvas>
    </div>
    
    
    <script src="{{url_for('static', filename= 'js/script.js')}}"> </script>
</body>

</html>
